*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navul{
    list-style: none;
    display: flex;
    padding: 13px;
    align-items: center;
}
.navul li{
    padding: 7px;
    font-size: 0.9rem;
}
.navul li a{
    text-decoration: none;
    color: black;
}
#principal{
    min-height: 81vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    /*left: 539px;*/
    /*top: -9px;*/
    max-width: 500px;
}
.barra{
    position: relative;
}

.barra #span{
    position: absolute;
    padding-top: 30px;
    padding-left: 10px;
    color: #A5AAAF;
}
#buscador{
    margin-top: 20px;
    border-radius: 24px;
    height: 44px;
    border: 1px solid #A5AAAF;
    width: 584px;
    padding-left: 30px;
    outline: 0;
    /*left: 350px;
   /* border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    background-color: #fff;*/
}
#botones input{
    margin-top: 35px;
    padding: 10px 10px;
    border: none;
    background-color: #F8F9FA;
}

footer{
    display: flex;
    align-content: center;
    background: #F2F2F2;
    padding: 20px 3px;
    /*min-height: calc(100vh - 10px);*/
    justify-content: space-between;
    flex-wrap: wrap;
}

p{
    font-size: 0.9rem;
    padding: 50px;
}
footer a{
    text-decoration: none;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
#buscador:hover{
    box-shadow: 0.2px 0.2px 1px;
}
@media (max-width: 800px){
    #buscador{
        max-width: 500px;
    }
}
