body{
    min-height: 100vh;
}
#nav{
    display: flex;
    justify-content: flex-end;
}

#navul{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 3px;
    margin-right: 26px;
}

#navul li{
    display: inline-block;
    padding: 7px;
    font-size: 12px;
}

#navul li a{
    text-decoration: none;    
}

#navul li a img{
    width: 25px;
}

#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#img{
    position: absolute;
    /*left: 539px;*/
    /*top: -9px;*/
    max-width: max-content;
}

#buscador{
    border-radius: 24px;
    height: 44px;
    border: 1px solid #dfe1e5;
    width: 584px;
    max-width: 584px;
    position: absolute;
    top: 114px;
    /*left: 350px;
   /* border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    background-color: #fff;*/
}

#botones{
    position: absolute;
    top: 192px;
    border-radius: 0px;   
}

footer{
    display: flex;
    align-content: center;
    position: absolute;
    background: #E7ECEE;
    width: 253vh;
    padding: 30px 3px;
    /*min-height: calc(100vh - 10px);*/
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 380px;
}

p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}
footer a{
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}